<!-- Sidebar for Users and Admin -->
<div data-scrollbar="true" data-height="100%">

  <!-- Sidebar - User Profile Menu -->
  <ul class="nav">
    <% if current_user %>
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image">
            <%= image_tag current_user.gravatar_url %>
          </div>
          <div class="info">
            <b class="caret pull-right"></b>
            <%= current_user.firstname + ' ' + current_user.lastname  %>
            <small><%= current_user.username %></small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li>
            <%= link_to phcaccounts.edit_user_registration_path do %>
              <i class="fas fa-cogs"></i> Account Settings
            <% end %>
          </li>
          <li>
            <%= link_to phcaccounts.destroy_user_session_path do %>
              <i class="fas fa-sign-out-alt"></i> Logout
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <!-- Sidebar - User Profile Menu -->
  <!-- Sidebar - Sidebar Navigation -->
  <ul class="nav">
    
    <% if defined?phcpress %>
      <!-- Sidebar - Sidebar Navigation - PHCPress(Pro) -->
      <li class="nav-header">Article Management</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-newspaper"></i>
          <span>Article Posts</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menus_active_controller('phcpress/article/posts') %>"><%= link_to('Article Index', phcpress.article_posts_path) %></li>
          <li class="<%= phc_menus_active_controller('phcpress/article/posts#new') %>"><%= link_to('New Aritcle', phcpress.new_article_post_path) %></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-sitemap"></i>
          <span>Article Categories</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menus_active_controller('phcpress/article/categories') %>"><%= link_to('Category Index', phcpress.article_categories_path) %></li>
          <li class="<%= phc_menus_active_controller('phcpress/article/categories#new') %>"><%= link_to('New Category', phcpress.new_article_category_path) %></li>
        </ul>
      </li>
      <!-- Sidebar - Sidebar Navigation - PHCPress(Pro) -->
    <% end %>

    <% if defined?phcmembers %>
      <!-- Sidebar - Sidebar Navigation - PHCPress(Pro) -->
      <li class="nav-header">Membership Manager</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-users"></i>
          <span>Member's Data</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menus_active_controller('phcmembers/member/profiles') %>"><%= link_to('Profile Index', phcmembers.member_profiles_path) %></li>
          <li class="<%= phc_menus_active_controller('phcmembers/member/profiles#new') %>"><%= link_to('New Member Profile', phcmembers.new_member_profile_path) %></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-list-alt"></i>
          <span>Member's Directory</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menus_active_controller('phcmembers/directory/categories') %>"><%= link_to('Directory Index', phcmembers.directory_categories_path) %></li>
          <li class="<%= phc_menus_active_controller('phcmembers/directory/categories#new') %>"><%= link_to('New Directory Listing', phcmembers.new_directory_category_path) %></li>
        </ul>
      </li>
      <!-- Sidebar - Sidebar Navigation - PHCPress(Pro) -->
    <% end %>

    <% if defined?phcscriptcdn %>
      <!-- Sidebar - Sidebar Navigation - PHCScriptCDN(Pro) -->
      <li class="nav-header">Script Management</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-newspaper"></i>
          <span>Script Posts</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menus_active_controller('phcscriptcdn/script/listings') %>"><%= link_to "All Script Listings", phcscriptcdn.script_listings_path %></li>
      		<li class="<%= phc_menus_active_controller('phcscriptcdn/script/listings#new') %>"><%= link_to "Add a New Listing", phcscriptcdn.new_script_listing_path %></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-sitemap"></i>
          <span>Script Extras</span>
        </a>
        <ul class="sub-menu">
      		<li class="<%= phc_menus_active_controller('phcscriptcdn/script/authors') %>"><%= link_to "Script Authors", phcscriptcdn.script_authors_path %></li>
      		<li class="<%= phc_menus_active_controller('phcscriptcdn/script/licences') %>"><%= link_to "Script Licences", phcscriptcdn.script_licences_path %></li>
      		<li class="<%= phc_menus_active_controller('phcscriptcdn/script/extensions') %>"><%= link_to "Script Extensions", phcscriptcdn.script_extensions_path %></li>
          <li class="<%= phc_menus_active_controller('phcscriptcdn/script/versions') %>"><%= link_to "Script Versions", phcscriptcdn.script_versions_path %></li>
        </ul>
      </li>
      <!-- Sidebar - Sidebar Navigation - PHCScriptCDN(Pro) -->
    <% end %>

    <% if current_user %>
      <!-- Sidebar - Sidebar Navigation - PHCAccounts -->
      <li class="nav-header">Account Settings</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-user"></i>
          <span>Accounts Dashboard</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menus_active_controller('phcaccounts/admin/edit') %>"><%= link_to('Settings', phcaccounts.edit_user_registration_path) %></li>
          <li class="<%= phc_menus_active_controller('phcaccounts/admin/new') %>"><%= link_to('Logout', phcaccounts.destroy_user_session_path, method: :delete) %></li>
        </ul>
      </li>
      <!-- Sidebar - Sidebar Navigation - PHCAccounts -->
      <!-- Sidebar - Sidebar Minifier -->
      <li>
        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      <!-- Sidebar - Sidebar Minifier -->
    <% end %>

  </ul>
  <!-- Sidebar - Sidebar Navigation -->

</div>
<!-- Sidebar for Users and Admin -->
