<%= form_for(@modules_category) do |f| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @modules_category %>
	<!-- PHCNotifi Render Validation -->

	<!-- PHCPressPro - Category Form -->
	<div class="form-group">
		<%= f.label :catname, "Category Name" %>
		<%= f.text_field :catname, class: "form-control" %>
	</div>
	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>
	<!-- PHCPressPro - Category Form -->

<% end %>
