<%= form_for(@modules_category) do |f| %>

	<!-- PHC-Notifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @modules_category %>
	<!-- PHC-Notifi Render Validation -->

	<!-- Form Fields -->
	<div class="form-group field_with_errors">
		<label><%= f.label :catname, "Category Name" %></label>
		<%= f.text_field :catname, class: "form-control" %>
	</div>
	<!-- Form Fields -->

	<!-- Form Button -->
	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>
	<!-- Form Button -->

<% end %>
