<!-- Topbar - Navigation Header -->
<div class="navbar-header">
  <%= link_to phcpress.article_posts_path, class: "navbar-brand" do %>
    <strong>PHC</strong>Press
  <% end %>
  <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<!-- Topbar - Navigation Header -->

<!-- Topbar - Navigation Main -->
<% if current_user %>
  <ul class="navbar-nav navbar-right">

    <!-- Topbar - Navigation Main - Search
    <li>
      <form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter keyword" />
          <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </li>
    Topbar - Navigation Main - Search -->

    <!-- Topbar - Navigation Main - Notifications Menu
    <li class="dropdown">
      <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
        <i class="fa fa-bell"></i>
        <span class="label">5</span>
      </a>
      <ul class="dropdown-menu media-list dropdown-menu-right">
        <li class="dropdown-header">NOTIFICATIONS (5)</li>
        <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <i class="fa fa-bug media-object bg-silver-darker"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading">
                Server Error Reports
                <i class="fa fa-exclamation-circle text-danger"></i>
              </h6>
              <div class="text-muted f-s-11">3 minutes ago</div>
            </div>
          </a>
        </li>
        ...
        <li class="dropdown-footer text-center">
          <a href="javascript:;">View more</a>
        </li>
      </ul>
    </li>
    Topbar - Navigation Main - Notifications Menu -->

    <!-- Topbar - Navigation Main - User Menu -->
    <li class="dropdown navbar-user">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <%= image_tag current_user.gravatar_url %>
        <span class="d-none d-md-inline"><%= current_user.firstname + ' ' + current_user.lastname  %></span> <b class="caret"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to phcaccounts.edit_user_registration_path, class: "dropdown-item" do %>
          <i class="fas fa-cogs"></i> Account Settings
        <% end %>
        <%= link_to phcaccounts.destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <% end %>
      </div>
    </li>
    <!-- Topbar - Navigation Main - User Menu -->

  </ul>
<% end %>
<!-- Topbar - Navigation Main -->
