<div class="row">
	<%= form_for(@blog_post, :html => {:multipart => true}) do |f| %>
	
		<!-- PHC-Notifi Render Validation -->
		<%= render 'phcnotifi/validations', :object => @blog_post %>
	
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-paper-plane-o"></i> Publish Panel
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label><%= f.label :pststatus, "Post Status" %></label>
						<%= f.select :pststatus, [['Draft','draft'],['Publish','publish'],['Review','review']], class: "form-control form-control-sm" %>
					</div>
					<div class="form-group">
						<label><%= f.label :pstcategory, "Post Category" %></label>
						<%= collection_select(:pstcategory, :pstcategory_id, Phcpress::Blog::Post.order('blogpsttitle'), :id, :blogpsttitle, {}, {class: "form-control form-control-sm"}) %>
					</div>
					<div class="actions">
						<%= f.submit "Publish Blog Article", class: "btn btn-primary btn-sm" %>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-camera-retro"></i> Post Images
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label><%= f.label :pstimage, "Featured Image" %></label>
						<%= f.file_field :pstimage, class: "form-control" %>
					</div>
					<%= image_tag(@blog_post.pstimage_url, class: "img-responsive img-thumbnail") %>
				</div>
			</div>
		</div>
		<div class="col-md-9 ">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-pencil-square-o"></i> Blog Post Publisher
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label><%= f.label :blogpsttitle, "Title" %></label>
						<%= f.text_field :blogpsttitle, class: "form-control" %>
					</div>
					<div class="form-group">
						<label><%= f.label :blogpsttext, "Text" %></label>
						<%= f.text_area :blogpsttext, class: "form-control" %>
					</div>
					<div class="form-group">
						<label><%= f.label :blogpstexcerpts, "Excerpts/Text Leads" %></label>
						<%= f.text_area :blogpstexcerpts, class: "form-control" %>
					</div>
				</div>
			</div>
		</div>

	<% end %>
</div>
