<p>
	<strong>Blog Title:</strong>
	<%= @blog_post.blogpsttitle %>
</p>

<p>
	<strong>Blog Text:</strong>
	<%= @blog_post.blogpsttext %>
</p>

<p>
	<strong>Post Status:</strong>
	<%= @blog_post.pststatus %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
