<%= form_for(@article_post, :html => {:multipart => true}) do |phc_press_article_post| %>
<div class="row">
	<div class="col-md-3">

		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Publish Panel</h4>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<%= phc_press_article_post.label :pststatus, "Post Status" %>
					<%= phc_press_article_post.select( :pststatus, [['Draft','draft'],['Published','published'],['Review','review']], {}, {class: "form-control form-control-sm"}) %>
				</div>
				<div class="actions">
					<%= phc_press_article_post.submit class: "btn btn-primary waves-effect" %>
				</div>
			</div>
		</div>

		<div class="panel panel-inverse">
			<div class="panel-heading">
			<h4 class="panel-title">Post Images</h4>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<%= phc_press_article_post.label :pstimage, "Featured Image" %>
					<%= phc_press_article_post.file_field :pstimage, class: "form-control" %>
				</div>
				<% if phc_press_article_post.object.pstimage? %>
					<%= image_tag phc_press_article_post.object.pstimage_url, class: "img-responsive img-thumbnail" %>
					<%= phc_press_article_post.label :remove_pstimage %>
					<%= phc_press_article_post.check_box :remove_pstimage %>
				<% end %>
			</div>
		</div>

		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Post Categories</h4>
			</div>
			<div class="panel-body">
				<%= phc_press_article_post.collection_check_boxes :category_ids, Phcpress::Modules::Category.all, :id, :catname do |post_category| %>
					<%= post_category.check_box %>
					<%= post_category.label %></br>
				<% end %>
			</div>
		</div>

	</div>
	<div class="col-md-9 ">

		<!-- PHCNotifi Render Validation -->
		<%= render 'phcnotifi/validations', :object => @article_post %>
		<!-- PHCNotifi Render Validation -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Article TItle</h4>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<%= phc_press_article_post.label :psttitle, "Article Title" %>
					<%= phc_press_article_post.text_field :psttitle, class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				</div>
				<h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
			</div>
			<div class="panel-body panel-form">
				<div class="form-group">
					<%= phc_press_article_post.text_area :psttext, :class => "ckeditor form-control", :id => "editor1", :rows => 20, :cols => 60 %>
				</div>
			</div>
		</div>

	</div>
</div>
<% end %>
