<!-- Title System -->
<% phc_title "Article Manager" %>
<% phc_title_tagline "Article Details" %>
<% phc_breadcrumb_one link_to "Article Index", phcpress.article_posts_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Header -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-8">
		<h2><%= yield(:phc_title) %></h2>
		<!-- Bread Crumb -->
		<ol class="breadcrumb">
			<li><%= yield(:phc_breadcrumb_one) %></li>
			<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
		</ol>
		<!-- Bread Crumb -->
	</div>
	<div class="col-sm-4">
		<div class="title-action">
			<%= link_to phcpress.article_posts_path, class: "btn btn-default" do %>
				<i class="fa fa fa-arrow-left"></i> Back to Article Index
			<% end %>
		</div>
	</div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><%= yield(:phc_title_tagline) %></h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
	<p id="notice"><%= notice %></p>
	<%= link_to 'Edit', phcpress.edit_article_post_path(@article_post) %> |
	<%= link_to 'Back', phcpress.article_posts_path %>
</div>
<!-- Page Content -->
