<%= form_for(@modules_connection) do |f| %>

	<!-- PHC-Notifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @articles_post %>
	<!-- PHC-Notifi Render Validation -->
	
	<!-- Form Fields -->
	<div class="form-group field_with_errors">
		<%= f.label :category_id, "Category ID" %>
		<%= f.text_field :category_id, class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<%= f.label :post_id, "Post ID" %>
		<%= f.text_field :post_id, class: "form-control" %>
	</div>
	<!-- Form Fields -->
	
	<!-- Form Button -->
	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>
	<!-- Form Button -->

<% end %>