<!-- Title System -->
<% phc_title "PHCPress Plugin: Connections" %>
<% phc_title_tagline "Update Category Connections" %>
<% phc_breadcrumb_one link_to "Connection Index", phcpresspro.modules_connections_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">
	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= yield(:phc_breadcrumb_one) %></li>
		<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->
</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><%= yield(:phc_title) %></h3>
				</div>
				<div class="box-body">

					<!-- Page Form (Edit) -->
					<%= render 'form', modules_connection: @modules_connection %>
					<!-- Page Form (Edit) -->

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Main Content -->