<p id="notice"><%= notice %></p>

<h1>Modules Connections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modules_connections.each do |modules_connection| %>
      <tr>
        <td><%= link_to 'Show', modules_connection %></td>
        <td><%= link_to 'Edit', edit_modules_connection_path(modules_connection) %></td>
        <td><%= link_to 'Destroy', modules_connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modules Connection', new_modules_connection_path %>
