<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @modules_connection.category %>
</p>

<p>
  <strong>Post:</strong>
  <%= @modules_connection.post %>
</p>

<%= link_to 'Edit', edit_modules_connection_path(@modules_connection) %> |
<%= link_to 'Back', modules_connections_path %>
