<!DOCTYPE html>
<html>

	<head>

		<title>PHCMembers - Members Manager</title>

		<%= stylesheet_link_tag    "phcpress/application", media: "all" %>
		<%= javascript_include_tag "phcpress/application" %>
		<%= csrf_meta_tags %>

	</head>

	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">
			<div class="main_container">

				<header class="main-header">

					<!-- Logo with Link -->
					<%= link_to phcpress.articles_posts_path, class: "logo" do %>
						<span class="logo-mini">PHC</span>
						<span class="logo-lg"><b>PHC</b>Press</span>
					<% end %>
					<!-- Logo with Link -->

					<!-- Top Navbar -->
					<nav class="navbar navbar-static-top">

						<!-- Mobile Toggle -->
						<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
							<span class="sr-only">Toggle navigation</span>
						</a>
						<!-- Mobile Toggle -->

					</nav>
					<!-- Top Navbar -->

				</header>

				<aside class="main-sidebar">
					<section class="sidebar">
					</section>
				</aside>

				<!-- Page Content -->
				<div class="content-wrapper">
					<%= yield %>
				</div>
				<!-- Page Content -->
			
			</div>
		</div>

		<!-- Footer -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 4.2.7 - OCT-27-<%= Date.today.year %>  
			</div>
			<strong>&copy; 2012-<%= Time.now.year %> <%= link_to "https://phcnetworks.net", target: "_blank", rel: "nofollow" do %>PHCNetworks<% end %></strong>
		</footer>
		<!-- Footer -->

	</body>
</html>
