<p id="notice"><%= notice %></p>

<h1>Listing Postprocess Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Pststatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postprocess_statuses.each do |postprocess_status| %>
      <tr>
        <td><%= postprocess_status.pststatus %></td>
        <td><%= link_to 'Show', postprocess_status %></td>
        <td><%= link_to 'Edit', edit_postprocess_status_path(postprocess_status) %></td>
        <td><%= link_to 'Destroy', postprocess_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_postprocess_status_path %>
