<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="<%= is_active_controller('phcpress/articles/posts') %> treeview">
			<%= link_to "#" do %>
				<i class="fa fa-newspaper-o"></i> <span>Articles</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			<% end %>
			<ul class="treeview-menu">
				<li class="">
					<%= link_to articles_posts_path do %>
						<i class="fa fa-circle-o"></i> 
						Article Index
					<% end %>
				</li>
				<li class="">
					<%= link_to new_articles_post_path do  %>
						<i class="fa fa-circle-o"></i> 
						New Article
					<% end %>
				</li>
			</ul>
		</li>
		<li class="<%= is_active_controller('phcpress/modules/categories') %> treeview">
			<%= link_to "#" do %>
				<i class="fa fa-sitemap"></i> <span>Categories</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			<% end %>
			<ul class="treeview-menu">
				<li class="">
					<%= link_to modules_categories_path do %>
						<i class="fa fa-circle-o"></i> 
						Category List
					<% end %>
				</li>
				<li class="">
					<%= link_to new_modules_category_path do  %>
						<i class="fa fa-circle-o"></i> 
						New Category
					<% end %>
				</li>
			</ul>
		</li>
	</ul>
</section>
