<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="<%= is_active_controller('phcmemberspro/member/profiles') %> treeview">
			<%= link_to "#" do %>
				<i class="fa fa-users"></i> <span>Member Information</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			<% end %>
			<ul class="treeview-menu">
				<li class="">
					<%= link_to member_profiles_path do %>
						<i class="fa fa-circle-o"></i> 
						Members List
					<% end %>
				</li>
				<li class="">
					<%= link_to new_member_profile_path do  %>
						<i class="fa fa-circle-o"></i> 
						Add a New Member
					<% end %>
				</li>
			</ul>
		</li>
		<li class="<%= is_active_controller('phcmemberspro/member/profiles') %> treeview">
			<%= link_to "#" do %>
				<i class="fa fa-dashboard"></i> <span>Directories & Listings</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			<% end %>
			<ul class="treeview-menu">
				<li class="">
					<%= link_to directory_categories_path do %>
						<i class="fa fa-circle-o"></i> 
						Category List
					<% end %>
				</li>
				<li class="">
					<%= link_to new_directory_category_path do  %>
						<i class="fa fa-circle-o"></i> 
						Add a New Category
					<% end %>
				</li>
			</ul>
		</li>
	</ul>
</section>
