<!-- Title Variables -->
<% phc_title "PHCPress - Articles Manager" %>
<% phc_title_tagline "Article Index" %>

<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">

		<!-- Bread Crumbs -->
		<ol class="breadcrumb">
			<li><%= link_to "Dashboard", articles_posts_path %></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

		<!-- Page Title -->
		<h3 class="page-title">
			<%= yield(:phc_title) %> </br>
			<small><%= yield(:phc_title_tagline) %></small>
		</h3>

	</div>
</div>


<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="caption">
					<span class="caption-subject bold uppercase">Article List</span>
				</div>
			</div>


	<div class="panel-body">

			<table class="table table-bordered table-striped table-hover">

				<thead>
					<tr>
						<th>Title</th>
						<th>Text Preview</th>
						<th>Article Status</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @articles_posts.each do |articles_post| %>
						<tr>
							<td><%= articles_post.psttitle %></td>
							<td><%= truncate(articles_post.psttext, :length => 80) %></td>
							<td><%= articles_post.pststatus %></td>
							<td><div class="btn-group" role="group" aria-label="Blog Articles">
								<%= link_to 'Edit', edit_articles_post_path(articles_post), class: "btn btn-primary btn-xs" %>
								<%= link_to 'Delete', articles_post, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
							</div></td>
						</tr>
					<% end %>
				</tbody>

			</table>

			<%= link_to 'New Blog Post', new_articles_post_path, class: "btn btn-primary" %>

		</div>

	</div>
</div>