<!-- Main Content -->
<div class="wrapper wrapper-content">
	<div class="panel panel-primary">

		<div class="panel-heading">
			<i class="fa fa-pencil-square-o"></i> Article List
		</div>

		<div class="panel-body">

			<table class="table table-bordered table-striped table-hover">

				<thead>
					<tr>
						<th>Title</th>
						<th>Text Preview</th>
						<th>Article Status</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @articles_posts.each do |articles_post| %>
						<tr>
							<td><%= articles_post.psttitle %></td>
							<td><%= truncate(articles_post.psttext, :length => 80) %></td>
							<td><%= articles_post.pststatus %></td>
							<td><div class="btn-group" role="group" aria-label="Blog Articles">
								<%= link_to 'Edit', edit_articles_post_path(articles_post), class: "btn btn-primary btn-xs" %>
								<%= link_to 'Delete', articles_post, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
							</div></td>
						</tr>
					<% end %>
				</tbody>

			</table>

			<%= link_to 'New Blog Post', new_articles_post_path, class: "btn btn-primary" %>

		</div>

	</div>
</div>