<!-- Title System -->
<% phc_title "Article Manager" %>
<% phc_title_tagline "Create a New Article" %>
<% phc_breadcrumb_one link_to "Article Index", phcpress.articles_posts_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">
	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= yield(:phc_breadcrumb_one) %></li>
		<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->
</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<%= render 'form', articles_post: @articles_post %>
		</div>
	</div>
</section>
<!-- Main Content -->