<!-- Title Variables -->
<% phc_title "PHCPress - Articles Manager" %>
<% phc_title_tagline "Post a New Article" %>

<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">

		<!-- Bread Crumbs -->
		<ol class="breadcrumb">
			<li><%= link_to "Dashboard", articles_posts_path %></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

		<!-- Page Title -->
		<h3 class="page-title">
			<%= yield(:phc_title) %> </br>
			<small><%= yield(:phc_title_tagline) %></small>
		</h3>

	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">

			<div class="panel-heading">
				<div class="caption">
					<span class="caption-subject bold uppercase"><%= yield(:phc_title_tagline) %></span>
				</div>
				<div class="actions">
				</div>
			</div>

			<div class="panel-body">
				<%= render 'form', articles_post: @articles_post %>
			</div>

		</div>

	</div>
</div>
<!-- Main Content -->
