<div class="row">
	<%= form_for(@news_post, :html => {:multipart => true})  do |f| %>

		<!-- PHC-Notifi Render Validation -->
		<%= render 'phcnotifi/validations', :object => @news_post %>

		<div class="col-md-3">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-paper-plane-o"></i> Publish Panel
				</div>
				<div class="panel-body">
					<div class="form-group">
						<%= f.label :pststatus, "Post Status" %>
						<%= f.select( :pststatus, [['Draft','draft'],['Publish','publish'],['Review','review']], {}, {class: "form-control form-control-sm"}) %>
					</div>
					<div class="form-group">
						<%= f.label :pstcategory, "Post Category" %>
						<%= collection_select(:pstcategory, :pstcategory_id, Phcpress::Modules::Category.order('catname'), :id, :catname, {}, {class: "form-control form-control-sm"}) %>
					</div>
					<div class="actions">
						<%= f.submit "Publish News Article", class: "btn btn-primary btn-sm" %>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-camera-retro"></i> Post Images
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label><%= f.label :pstimage, "Featured Image" %></label>
						<%= f.file_field :pstimage, class: "form-control" %>
					</div>
					<% if f.object.pstimage? %>
						<%= image_tag f.object.pstimage, class: "img-responsive img-thumbnail" %>
						<%= f.label :remove_pstimage %>
						<%= f.check_box :remove_pstimage %>
					<% end %>
				</div>
			</div>

		</div>

		<div class="col-md-9">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-newspaper-o"></i> News Post Publisher
				</div>
				<div class="panel-body">
					<div class="form-group">
						<%= f.label :newspsttitle, "Post Name" %>
						<%= f.text_field :newspsttitle, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :newspsttext, "Post Text" %>
						<%= f.text_area :newspsttext, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :newspstexcerpts, "Excerpts/Text Leads" %>
						<%= f.text_area :newspstexcerpts, class: "form-control" %>
					</div>
				</div>
			</div>

		</div>

	<% end %>
</div>
